html{
    width: 1440px;
    height:auto;
}

/*bagian 1*/
.inner {
        background-color: #273c5b;
            color: white;
            font-weight: 700px;
            font-family: 'Dosis', sans-serif;
        }

.inner .kiri {
            margin: 10px 100px;
            float: left;
            font-size:16px;
        }

        .inner .kiri p {
            margin: 0;
            color: #ffffff;
        }

        .inner .kiri p span {
            color: darkorange;
        }

        .inner .kanan {
            float: right;
            margin: 10px 100px;
            font-size: 16px;
        }

        .inner .kanan img {
            float: left;
            margin: 0px 10px;
        }

        .inner .kanan p {
            float: left;
            margin: 0;
            color:#ffffff;
        }


        .inner .clear {
            clear: both;
        }

        .topnav {
            overflow: hidden;
            background-color: white;
        }


        .topnav h3 {
            float: left;
        }

        .topnav .nav {
            float: right;
            margin: 30px 0px;
        }

        .topnav h3 {
            font-size: 20px;
            margin: 0;
        }

        .topnav a {
            float: left;
            color: black;
            text-align: center;
            padding: 0px 16px;
            text-decoration: none;
            font-size: 14px;
            font-weight: 700;
            font-family: 'Dosis', sans-serif;
        }

        .topnav a:hover {
            color: lightblue;
        }

        .topnav a.active {
            color: #008ED7;
        }

/* bagian 2 */
#Bagian2{
    margin: 0px;
    height:660px;
    width:1440px;
    font-family: 'Dosis', sans-serif;
    background:url(https://www.miamipestcontrolsolutions.com/wp-content/uploads/2017/03/bg-hero.jpg?id=69);
}


#Container{
	height:100%;
	padding-top: 100px;
	padding-bottom: 93px;
	padding-right: 30px;
	padding-left: 130px;
	background-position: center;
	background-size: cover;
	width:78%;
    margin-right: 0px;
}

.judul h2{
		font-size: 80px;
		color: #ffffff;
		line-height: 80px;
		text-align: left;	
}

.teks p span{
	color: #ffffff;
	font-size: 30px;
}




/* bagian 3 */

.section {
    width:600px;
    height: 660px;
    background-color: #008ED7;
    color: white;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-right: 140px;
    padding-left: 60px;
}

h2 {
    text-align: center;
    margin: 5px;
    font-size: 40px;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 440px;
    padding: 15px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    box-sizing: border-box;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.registerbtn {
    background-color: #E5AB1F;
    box-sizing: border-box;
    color: white;
    padding: 15px;
    margin: 30px 0 10px 0;
    margin-bottom: 30px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.col-sm-5 .section form{
    width:400px;
    height:485px;
    margin: 0px;
}

.col-sm-5 .section form .form-group{
    width:400px;
}

/*bagian 4*/
.offer {
        width: auto;
        height: 500px;
        padding-left: 50px;
        padding-top: 50px;
        position: absolute;
        font-family: 'Dosis', sans-serif;
        }

    .title {
        font-weight: bold;
        }

    .border-bottom {
        border-top: solid #008ed7;
        color: #008ed7;
        border-radius: 5;
        }

/*bagian 5*/
.serangga h1{
    font-family: 'Dosis', sans-serif;
    font-size: 48px;
    text-align: center;
}

.serangga{
    padding:35px 195px;
}
#Bagian5{
    width:1440px;
    margin: 0px;
    height:auto;
    font-family: 'Dosis', sans-serif;
}

#Serangga{
    background-image: url("UTS/img/img1.png");
    height: 364px;
    width:360px;
}

#Nyamuk{
    background-image: url("UTS/img/img2.png");
    height: 364px;
    width: 360px;
}

#Bagian5 #Serangga img{
    margin-bottom: 10px;
}

/*bagian 6*/
* {
      box-sizing: border-box;
    }

    .slider {
        width: 50%;
        margin: 35px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: 5;
    }
    
    .slick-active {
      opacity: 5;
    }

    .slick-current {
      opacity: 5;
    }

/*bagian 8*/
.media img  {
    width: 10%;
}
.text-muted {
    font-size: 20px;
}

#quote .img{
    width: 5%;
}

/*bagian 9*/
#Telepon{
    background-color: #edf0f4;
    width: 1440px;
    padding:35px 195px;
    text-align: center;
}

.contact{
    font-size: 30px;
    font-family: 'Dosis', sans-serif;
}

.number{
    color:#008ed7;
}

#Footer{
    background-color: #242a32;
    width :1440px;
    height:600px;
}

#Satu h3{
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    color:#ffffff;
}

#Satu .emailbaru .suscribe{
    width:200px;
    height:30px;
}

#Satu h3 {
    width:35px;
    height:40px;
    
}

.tombol i{
    text-align: center;
    padding: 5px;
    color: white;
    width: 30px;
    height: 30px;
    margin-left: 50px;
    background-color: #E5AB1F;
}

.tombol:hover i{
    text-align: center;
    padding: 5px;
    color: gray;
    width: 30px;
    height: 30px;
    margin-left: 50px;
    background-color: #E5AB1F;
}

#Dua h3{
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    color:#ffffff;   
}

#Tiga h3{
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    color:#ffffff;
}

#Empat h3{
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    color:#ffffff;
}

#Satu{
    padding: 50px 40px;
}

#Dua{
    padding:50px 40px;
}

#Tiga{
    padding: 50px 40px;
    height: 330px;
}

#Empat{
    padding: 50px 40px;
}

#Tiga ol{
    color:white;
    margin-left: 40px;
    margin-top: -160px;
    line-height: 22px;
}

#Empat ul li a{
    width:35px;
    height:35px;
}

#Empat ul a i{
    margin-left: 10px;
    margin-right:10px;
}

.row .col-sm-2{
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
    color:#00BFFF;
    height: 100px;
    padding: 10px;
    padding-left:40px;
    padding-right: 5px;
}


.row .col-sm-7 {
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    color:white;
    height: 100px;
    text-align: left;
    padding:17px 15px;
}

.row .col-sm-3{
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    color: white;
    height:100px;
    padding:17px 15px;
}

@media screen and (max-width: 1440px){

html{
    width: 1440px;
    height:auto;
}

/*bagian 1*/
.inner {
        background-color: #273c5b;
            color: white;
            font-weight: 700px;
            font-family: 'Dosis', sans-serif;
        }

.inner .kiri {
            margin: 10px 100px;
            float: left;
            font-size:16px;
        }

        .inner .kiri p {
            margin: 0;
            color: #ffffff;
        }

        .inner .kiri p span {
            color: darkorange;
        }

        .inner .kanan {
            float: right;
            margin: 10px 100px;
            font-size: 16px;
        }

        .inner .kanan img {
            float: left;
            margin: 0px 10px;
        }

        .inner .kanan p {
            float: left;
            margin: 0;
            color:#ffffff;
        }


        .inner .clear {
            clear: both;
        }

        .topnav {
            overflow: hidden;
            background-color: white;
        }


        .topnav h3 {
            float: left;
        }

        .topnav .nav {
            float: right;
            margin: 30px 0px;
        }

        .topnav h3 {
            font-size: 20px;
            margin: 0;
        }

        .topnav a {
            float: left;
            color: black;
            text-align: center;
            padding: 0px 16px;
            text-decoration: none;
            font-size: 14px;
            font-weight: 700;
            font-family: 'Dosis', sans-serif;
        }

        .topnav a:hover {
            color: lightblue;
        }

        .topnav a.active {
            color: #008ED7;
        }

/* bagian 2 */
#Bagian2{
    margin: 0px;
    height:660px;
    width:1440px;
    font-family: 'Dosis', sans-serif;
    background:url(https://www.miamipestcontrolsolutions.com/wp-content/uploads/2017/03/bg-hero.jpg?id=69);
}


#Container{
    height:100%;
    padding-top: 100px;
    padding-bottom: 93px;
    padding-right: 30px;
    padding-left: 130px;
    background-position: center;
    background-size: cover;
    width:78%;
    margin-right: 0px;
}

.judul h2{
        font-size: 80px;
        color: #ffffff;
        line-height: 80px;
        text-align: left;   
}

.teks p span{
    color: #ffffff;
    font-size: 30px;
}




/* bagian 3 */

.section {
    width:600px;
    height: 660px;
    background-color: #008ED7;
    color: white;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-right: 140px;
    padding-left: 60px;
}

h2 {
    text-align: center;
    margin: 5px;
    font-size: 40px;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 440px;
    padding: 15px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    box-sizing: border-box;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.registerbtn {
    background-color: #E5AB1F;
    box-sizing: border-box;
    color: white;
    padding: 15px;
    margin: 30px 0 10px 0;
    margin-bottom: 30px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.col-sm-5 .section form{
    width:400px;
    height:485px;
    margin: 0px;
}

.col-sm-5 .section form .form-group{
    width:400px;
}

/*bagian 4*/
.offer {
        width: auto;
        height: 500px;
        padding-left: 50px;
        padding-top: 50px;
        position: absolute;
        font-family: 'Dosis', sans-serif;
        }

    .title {
        font-weight: bold;
        }

    .border-bottom {
        border-top: solid #008ed7;
        color: #008ed7;
        border-radius: 5;
        }

/*bagian 5*/
.serangga h1{
    font-family: 'Dosis', sans-serif;
    font-size: 48px;
    text-align: center;
}

.serangga{
    padding:35px 195px;
}
#Bagian5{
    width:1440px;
    margin: 0px;
    height:auto;
    font-family: 'Dosis', sans-serif;
}

#Serangga{
    background-image: url("UTS/img/img1.png");
    height: 364px;
    width:360px;
}

#Nyamuk{
    background-image: url("UTS/img/img2.png");
    height: 364px;
    width: 360px;
}

#Bagian5 #Serangga img{
    margin-bottom: 10px;
}

/*bagian 6*/
* {
      box-sizing: border-box;
    }

    .slider {
        width: 50%;
        margin: 35px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: 5;
    }
    
    .slick-active {
      opacity: 5;
    }

    .slick-current {
      opacity: 5;
    }

    .vc_custom_heading .vc_custom_1491856417723{
        font-size: 48px; color: black; font-family: Dosis; line-height: 48px; text-align: center;
    }

/*bagian 8*/
.media img  {
    width: 10%;
}
.text-muted {
    font-size: 20px;
}

#quote .img{
    width: 5%;
}

/*bagian 9*/
#Telepon{
    background-color: #edf0f4;
    width: 1440px;
    padding:35px 195px;
    text-align: center;
}

.contact{
    font-size: 30px;
    font-family: 'Dosis', sans-serif;
}

.number{
    color:#008ed7;
}

#Footer{
    background-color: #242a32;
    width :1440px;
    height:600px;
}

#Satu h3{
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    color:#ffffff;
}

#Satu .emailbaru .suscribe{
    width:200px;
    height:30px;
}

#Satu h3 {
    width:35px;
    height:40px;
    
}

.tombol i{
    text-align: center;
    padding: 5px;
    color: white;
    width: 30px;
    height: 30px;
    margin-left: 50px;
    background-color: #E5AB1F;
}

.tombol:hover i{
    text-align: center;
    padding: 5px;
    color: gray;
    width: 30px;
    height: 30px;
    margin-left: 50px;
    background-color: #E5AB1F;
}

#Dua h3{
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    color:#ffffff;   
}

#Tiga h3{
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    color:#ffffff;
}

#Empat h3{
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    color:#ffffff;
}

#Satu{
    padding: 50px 40px;
}

#Dua{
    padding:50px 40px;
}

#Tiga{
    padding: 50px 40px;
    height: 330px;
}

#Empat{
    padding: 50px 40px;
}

#Tiga ol{
    color:white;
    margin-left: 40px;
    margin-top: -160px;
    line-height: 22px;
}

#Empat ul li a{
    width:35px;
    height:35px;
}

#Empat ul a i{
    margin-left: 10px;
    margin-right:10px;
}

.row .col-sm-2{
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
    color:#00BFFF;
    height: 100px;
    padding: 10px;
    padding-left:40px;
    padding-right: 5px;
}


.row .col-sm-7 {
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    color:white;
    height: 100px;
    text-align: left;
    padding:17px 15px;
}

.row .col-sm-3{
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    color: white;
    height:100px;
    padding:17px 15px;
}   
}

@media screen and (max-width: 1024px){

html{
    width: 1024px;
    height:auto;
}

/*bagian 1*/
.inner {
        background-color: #273c5b;
            color: white;
            font-weight: 700px;
            font-family: 'Dosis', sans-serif;
        }

.inner .kiri {
            margin: 10px 100px;
            float: left;
            font-size:16px;
        }

        .inner .kiri p {
            margin: 0;
            color: #ffffff;
        }

        .inner .kiri p span {
            color: darkorange;
        }

        .inner .kanan {
            float: right;
            margin: 10px 100px;
            font-size: 16px;
        }

        .inner .kanan img {
            float: left;
            margin: 0px 10px;
        }

        .inner .kanan p {
            float: left;
            margin: 0;
            color:#ffffff;
        }


        .inner .clear {
            clear: both;
        }

        .topnav {
            overflow: hidden;
            background-color: white;
        }


        .topnav h3 {
            float: left;
        }

        .topnav .nav {
            float: right;
            margin: 30px 0px;
        }

        .topnav h3 {
            font-size: 20px;
            margin: 0;
        }

        .topnav a {
            float: left;
            color: black;
            text-align: center;
            padding: 0px 16px;
            text-decoration: none;
            font-size: 14px;
            font-weight: 700;
            font-family: 'Dosis', sans-serif;
        }

        .topnav a:hover {
            color: lightblue;
        }

        .topnav a.active {
            color: #008ED7;
        }

/* bagian 2 */
#Bagian2{
    margin: 0px;
    height:600px;
    width:1024px;
    font-family: 'Dosis', sans-serif;
    background:url(https://www.miamipestcontrolsolutions.com/wp-content/uploads/2017/03/bg-hero.jpg?id=69);
}


#Container{
    height:100%;
    padding-top: 100px;
    padding-bottom: 93px;
    padding-right: 30px;
    padding-left: 100px;
    background-position: center;
    background-size: cover;
    width:78%;
    margin-right: 0px;
}

.judul h2{
        font-size: 60px;
        color: #ffffff;
        line-height: 60px;
        text-align: left;   
}

.teks p span{
    color: #ffffff;
    font-size: 25px;
}




/* bagian 3 */

.section {
    height: 660px;
    background-color: #008ED7;
    color: white;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-right: 140px;
    padding-left: 40px;
}

h2 {
    text-align: center;
    margin: 5px;
    font-size: 35px;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 350px;
    padding: 15px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    box-sizing: border-box;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.registerbtn {
    background-color: #E5AB1F;
    box-sizing: border-box;
    color: white;
    padding: 15px;
    margin: 30px 0 10px 0;
    margin-bottom: 30px;
    border: none;
    cursor: pointer;
    width: 350px;
    opacity: 0.9;
}

.col-sm-5 .section form{
    width:400px;
    height:485px;
    margin: 0px;
}

.col-sm-5 .section form .form-group{
    width:350px;
}

/*bagian 4*/
.offer {
        width: auto;
        height: 1000px;
        padding-left: 50px;
        padding-top: 50px;
        position: absolute;
        font-family: 'Dosis', sans-serif;
        }

    .title {
        font-weight: bold;
        }

    .border-bottom {
        border-top: solid #008ed7;
        color: #008ed7;
        border-radius: 5;
        }

/*bagian 5*/
.serangga h1{
    font-family: 'Dosis', sans-serif;
    font-size: 48px;
    text-align: center;
}

.serangga{
    padding:35px 195px;
}
#Bagian5{
    width:1024px;
    margin: 0px;
    height:auto;
    font-family: 'Dosis', sans-serif;
}

#Serangga{
    background-image: url("UTS/img/img1.png");
    height: 364px;
    width:360px;
    font-size: 24px;
}

#Nyamuk{
    background-image: url("UTS/img/img2.png");
    height: 364px;
    width: 360px;
}

#Bagian5 #Serangga img{
    margin-bottom: 10px;
}

/*bagian 6*/
* {
      box-sizing: border-box;
    }

    .slider {
        width: 50%;
        margin: 35px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: 5;
    }
    
    .slick-active {
      opacity: 5;
    }

    .slick-current {
      opacity: 5;
    }

    .vc_custom_heading .vc_custom_1491856417723{
    font-size: 30px; 
    color: black; 
    font-family: Dosis; 
    line-height: 48px; 
    text-align: center;
    }


/*bagian 8*/
.media img  {
    width: 10%;
}
.text-muted {
    font-size: 20px;
}

#quote .img{
    width: 5%;
}

/*bagian 9*/
#Telepon{
    background-color: #edf0f4;
    width: 1024px;
    padding:35px 195px;
    text-align: center;
}

.contact{
    font-size: 30px;
    font-family: 'Dosis', sans-serif;
}

.number{
    color:#008ed7;
}

#Footer{
    background-color: #242a32;
    width :1024px;
    height:600px;
}

#Satu h3{
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    color:#ffffff;
}

#Satu .emailbaru .suscribe{
    width:200px;
    height:30px;
}

#Satu h3 {
    width:35px;
    height:40px;
    
}

.tombol i{
    text-align: center;
    padding: 5px;
    color: white;
    width: 30px;
    height: 30px;
    margin-left: 50px;
    background-color: #E5AB1F;
}

.tombol:hover i{
    text-align: center;
    padding: 5px;
    color: gray;
    width: 30px;
    height: 30px;
    margin-left: 50px;
    background-color: #E5AB1F;
}

#Dua h3{
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    color:#ffffff;   
}

#Tiga h3{
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    color:#ffffff;
}

#Empat h3{
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    color:#ffffff;
}

#Satu{
    padding: 50px 40px;
}

#Dua{
    padding:50px 40px;
}

#Tiga{
    padding: 50px 40px;
    height: 330px;
}

#Empat{
    padding: 50px 40px;
}

#Tiga ol{
    color:white;
    margin-left: 40px;
    margin-top: -160px;
    line-height: 22px;
}

#Empat ul li a{
    width:35px;
    height:35px;
}

#Empat ul a i{
    margin-left: 10px;
    margin-right:10px;
}

.row .col-sm-2{
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
    color:#00BFFF;
    height: 100px;
    padding: 10px;
    padding-left:40px;
    padding-right: 5px;
}


.row .col-sm-7 {
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    color:white;
    height: 100px;
    text-align: left;
    padding:17px 15px;
}

.row .col-sm-3{
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    color: white;
    height:100px;
    padding:17px 20px;
}   
}