.container {
    font-family: 'Dosis', sans-serif;
}

.section {
    padding: 15px 45px;
    background-color: #008ED7;
    color: white;
    width: 22%;
}

h1 {
    text-align: center;
    margin: 5px;
    font-size: 42px;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    box-sizing: border-box;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.registerbtn {
    background-color: #E5AB1F;
    box-sizing: border-box;
    color: white;
    padding: 15px;
    margin: 30px 0 10px 0;
    margin-bottom: 30px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}