.ourservice#service .container#top{
    font-family: 'Noto Sans TC', sans-serif;
}
#service .container#top .row{
    padding: 15px;
    border: 1px solid #dddddd;
    margin-left: 0px;
    margin-right: 0px;
}
#service .container#top .row h2{
    font-weight: bold;
}
#service .left img, #service .right img{
    width: 100%;
    height: 100%;
}
#service .left .residental, #service .right .commercial{
    position: absolute;
    text-align: center;
    color: #EEEEEE;
    font-family: 'Noto Sans TC', sans-serif;
}
#service .left .residental{
    margin: -250px 0 0 85px;
}
#service .right .commercial{
    margin: -250px 0 0 150px;
}

#service .left{
    padding-right: 0px;
    border-right: 1px solid #dddddd;
}
#service .right{
    padding-left: 0px;
    border-left: 1px solid #dddddd;
}
